body {
	background-color: #fff;
	max-width: 1366px;
	font-family: @fontFamilySimpleRegular;
	font-size: 14px;
	line-height: 30px;
	color: @colorBrand;
	margin: 0 auto;
}
@font-face {
	font-family: "Circe-Regular";
	src: url(../fonts/Circe-Regular.woff2)format("woff2"),
		url(../fonts/Circe-Regular.woff)format("woff"),
		url(../fonts/Circe-Regular.ttf)format("truetype");
	font-weight: normal;
  	font-style: normal;
}
@font-face {
	font-family: "Circe-Bold";
	src: url(../fonts/Circe-Bold.woff2)format("woff2"),
		url(../fonts/Circe-Bold.woff)format("woff"),
		url(../fonts/Circe-Bold.ttf)format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "PlayfairDisplay-Bold";
	src: url(../fonts/PlayfairDisplay-Bold.woff2)format("woff2"),
		url(../fonts/PlayfairDisplay-Bold.woff)format("woff"),
		url(../fonts/PlayfairDisplay-Bold.ttf)format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "PlayfairDisplay-BoldItalic";
	src: url(../fonts/PlayfairDisplay-BoldItalic.woff2)format("woff2"),
		url(../fonts/PlayfairDisplay-BoldItalic.woff)format("woff"),
		url(../fonts/PlayfairDisplay-BoldItalic.ttf)format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "IntroScriptR-H2Base";
	src: url(../fonts/IntroScriptR-H2Base.woff2)format("woff2"),
		url(../fonts/IntroScriptR-H2Base.woff)format("woff"),
		url(../fonts/IntroScriptR-H2Base.ttf)format("truetype");
	font-weight: normal;
  	font-style: normal;
}
img {
	width: 100%;
	height: auto;
}
a {
	font-family: @fontFamilySimpleRegular;
	color: @colorLinks;
}
a:hover {
	opacity: .7
}

a:active {
	opacity: .3;
}