@colorBrand: #2d2829;
@colorSecond: #f50049;
@colorLinks: #f87b91;
@fontFamilySimpleRegular:"Circe-Regular" "Arial", sans-serif;
@fontFamilySimpleBold: "Circe-Bold", "Arial", sans-serif;
@fontFamilyBrandBold: "PlayfairDisplay-Bold", "Arial", sans-serif;
@fontFamilyBrandBolditalic: "PlayfairDisplay-BoldItalic", "Arial", sans-serif;
@paddingLateralEdgeMobile: 20px;
@paddingLateralEdgeDesktop: 74px;
@tabletMinWidth: 768px;
@tabletMaxWidth: 1365px;
@desktopWidth: 1366px;