.biography {
	padding: 0 @lateralEdgeMobile;
}
.biography__img-wrapper {
	background-color: #fff;
	// width: 158px;
	width: 56%;
	max-width: 208px;
	display: inline-block;
	line-height: 0;
	border-radius: 150px;
	margin-right: 30px;
}
.biography__img {
	border-radius: 150px;
}
.biography {
	margin-bottom: 48px;
}
.biography__subtitle {
	margin: 8px 0 7px;
}
.biography__title {
	font-family: @fontFamilyBrandBold;
	font-size: 14px;
	color: @colorBrand;
	margin: 0;
}
.biography__content {
	margin: 8px 0 12px;
}