.contacts {
	padding: 0 @lateralEdgeMobile;
	margin-bottom: 35px;
}
.contacts__title {
	text-align: center;
	margin-bottom: 10px;
}
.contacts__subtitle {
	margin-top: 0;
	margin-bottom: 5px;
}
.contacts__inscription {
	margin-top: 0;
	margin-bottom: 10px;
}
.contacts__form {
	max-width: 347px;
}
.contacts__field,
.contacts__textarea {
	width: 100%;
	max-width: 347px;
	font-family: @fontFamilyBrand;
	font-size: 18px;
	color: #000;
	padding: 12px 8px;
	border: none;
	margin-bottom: 10px;
	box-sizing: border-box;
}
.contacts__textarea {
	height: 120px;
	font-size: 16px;
	margin-bottom: 15px;
	resize: none;
}
.contacts__field::-webkit-input-placeholder,
.contacts__textarea::-webkit-input-placeholder {
	font-family: @fontFamilyBrand;
	font-size: 14px;
	color: #ccc;
}
.contacts__field::-moz-placeholder,
.contacts__textarea::-moz-placeholder {
	font-family: @fontFamilyBrand;
	font-size: 14px;
	color: #ccc;
}
.contacts__field:-ms-input-placeholder,
.contacts__textarea:-ms-input-placeholder {
	font-family: @fontFamilyBrand;
	font-size: 14px;
	color: #ccc;
}
.contacts__btn {
	display: block;
	position: relative;
	font-size: 19px;
	padding-right: 45px;
	padding-left: 45px;
	text-transform: none;
	margin: 0 auto;
	margin-bottom: 30px;
}
.contacts__text,
.contacts__text-link {
	font-family: @fontFamilyBrand;
	font-size: 14px;
	color: #000;
}
.contacts__text {
	margin: 18px 0 11px;
}
.contacts__text-link {
	text-decoration: none;
	white-space: nowrap;
}