.page-footer {
	background-color: #898989;
	display: flex;
	flex-direction: column;
	padding: 35px @lateralEdgeMobile 0;
}
.page-footer__logo {
	font-family: @fontFamilyTitle;
	font-size: 28px;
	line-height: 43px;
	color: #fff;
	text-decoration: none;
}
.page-footer__icon {
	fill: #b6b6b6;
	height: 23px;
	margin: 10px 15px 30px 0;
}
.page-footer__icon-instagram {
	width: 23px;
}
.page-footer__icon-vkontakte {
	width: 31px;
}
.contacts__copyright {
	font-family: @fontFamilyTitle;
	font-size: 12px;
	line-height: 28px;
	color: #b6b6b6;
	border-top: 1px solid #b6b6b6;
}