.second-nav__list {
	padding: 0;
	margin: 9px 0;
}
.second-nav__item {
	padding: 0;
	list-style: none;
}
.second-nav__link {
	display: inline-block;
	font-family: @fontFamilyBrand;
	font-size: 14px;
	color: #fff;
	padding: 6px 0;
	margin: 2px 0;
	text-decoration: none;
}
@media (min-width: @tabletMinWidth) {
.second-nav__list {
	display: flex;
	justify-content: space-between;
}
.second-nav__item--hidden {
	display: none;
}
}
@media (min-width: @tabletMinWidth) and (max-width: @tabletMaxWidth) {
.second-nav__list {
	width: 608px;
	margin-right: 10px;
}
}
@media (min-width: @desktopWidth) {
.second-nav__list {
	width: 730px;
	margin-right: 240px;
}
.second-nav__link {
	font-size: 16px;
	color: #000;
}
}