.slider {
	position: relative;
}
.slider__item {
	position: relative;
}
.slider__controls {
	width: 60px;
	text-align: center;
}
.slider__controls--filling,
.slider__controls--decor {
	position: absolute;
	top: 135px;
	left: 50%;
	margin-left: -30px;
}
.slider__controls--decor {
	top: 228px;
}
.slider__toggle {
	background-color: #ddd;
	display: inline-block;
	vertical-align: middle;
	width: 6px;
	height: 6px;
	border-radius: 5px;
	margin: 0 1px;
	cursor: pointer;
}
.slider__toggle--active {
	background-color: @colorSecond;
	width: 8px;
	height: 8px;
	margin: 0;
}
@media (min-width: @tabletMinWidth) {
.slider__controls {
	display: none;
}
}